# dependencies
node_modules/

# build output
dist/

# environment variables
.env
.env*.local

# editor
.DS_Store
*.pem

# lock files
package-lock.json
yarn.lock
pnpm-lock.yaml

# debug logs
npm-debug.*
yarn-debug.*
yarn-error.*

# TypeScript build info
*.tsbuildinfo

# PWA
dev-dist/
